@charset "UTF-8";
.translate--100 {
  transform: translateX(-100%);
}

.translate--200 {
  transform: translateX(-200%);
}

.translate--300 {
  transform: translateX(-300%);
}

.unscale::after {
  opacity: 0;
  transform: scaleX(0);
}

.ball-up {
  transform: translateY(-100%);
}

.atrophy {
  transform: scaleX(0);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
  background-color: #f7f7f7;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  /* On met l'overflow x parce que sinon ont peu scorller et voir les autres photos */
}

h2 {
  color: #14a314;
  font-weight: 700;
  font-size: 3.5rem;
  margin: auto;
  margin-bottom: 4rem;
  width: fit-content;
  transition: 1s;
}

h3 {
  font-weight: bolder;
  font-size: 2em;
  color: #14a314;
  margin-bottom: 2%;
  width: fit-content;
}

li {
  list-style: none;
}

@media screen and (max-width: 650px) {
  h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }
}
.hidden {
  opacity: 0;
}

.title-center {
  text-align: center;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10%);
}

.header {
  height: 100vh;
}

.navbar {
  background-color: #14a314;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 35px;
  z-index: 50;
  position: absolute;
  top: 0px;
  width: 100%;
}

.nav-sticky {
  position: fixed;
  top: 0px;
  z-index: 50;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  margin-left: 1rem;
}

.navbar a {
  text-decoration: none;
}

.muted {
  color: lightgrey;
}

.nav-white {
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: 2rem;
  font-size: --nav-textSize;
  min-width: 30%;
  height: 5vh;
}

.cross-logo {
  height: 2rem;
  margin-top: 0.4rem;
}

.cross-logo-press {
  transform: rotate(180deg);
}

.pharma-name {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 5vh;
  margin-left: 1rem;
}

.nav-btns-left {
  display: flex;
  justify-content: left;
  width: fit-content;
  align-items: center;
  padding-left: 0px;
}

.nav-btns-left a:hover {
  border-bottom: 2px solid white;
}

.nav-link {
  margin-left: 1rem;
  transform: translateX(-3%);
}

.nav-contact {
  margin-right: 1rem;
  height: 5vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: min-content;
}

.btn-contact {
  background-color: #14a314;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: auto;
  height: min-content;
}

.lnk-contact:hover {
  border-bottom: 2px solid white;
}

.btn-contact:focus {
  outline: none;
}

.burger {
  border: 1px solid white;
  margin: 0px;
  cursor: pointer;
  transform: translateY(-1px);
  display: none;
}

.burger div {
  width: 24px;
  height: 2px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1140px) {
  .nav-links {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 1066px) {
  .nav-links {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .navbar-left {
    width: 35%;
  }
}
@media screen and (max-width: 1000px) {
  .navbar-left {
    width: 60%;
  }

  .nav-links {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
  }

  .navbar li {
    margin: auto;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 5vh;
    background-color: #14a314;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.8s ease-in;
    display: none;
  }

  .for-opac {
    opacity: 0;
  }

  .nav-btns-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 5rem;
    margin: auto;
    margin-top: 5rem;
  }

  .nav-contact {
    height: min-content;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .btn-contact {
    margin: auto;
  }

  .burger {
    display: block;
    margin-right: 1.5rem;
  }
}
.nav-active {
  transform: translateX(0%);
}

.nav-visible {
  display: block;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.toggle {
  border: none;
}

@media screen and (max-width: 550px) {
  .navbar {
    height: 8vh;
  }
}
@media screen and (max-width: 500px) {
  .pharma-name {
    font-size: 1.2rem;
  }

  .cross-logo {
    height: 2rem;
  }
}
/* ////////////////////////////////////////////////////////////// /* ////////////////////////////////////////////////////////////// */
/* Footer */
footer {
  height: 3rem;
  background-color: #14a314;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-right {
  margin-left: 1rem;
  color: white;
}

.legal-link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.legal-link:hover {
  border-bottom: 2px solid white;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Carousel CSS */
.carrousel {
  width: 100%;
}

.carrousel-container {
  width: 100%;
  position: relative;
}

.carrousel-slide {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.carrousel-slide-fadeInOut {
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 14.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 14.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.carrousel-image {
  width: 100%;
  height: 95vh;
  margin-top: 5vh;
  overflow: hidden;
  display: block;
}

.sm-screen-replacement {
  display: none;
}

@media screen and (max-width: 1160px) {
  .carrousel-image {
    object-fit: cover;
    /* La taille de l'image s'adapte sans toucher au ration donc elle ne se déforme pas même si on n'en voit qu'une partie */
  }
}
.title-space {
  color: white;
  width: 100%;
  position: absolute;
  top: 63vh;
  z-index: 10;
}

.title-text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text--h1 {
  font-weight: 500;
  font-size: 3rem;
  padding-top: 1rem;
  color: white;
  width: fit-content;
  margin: auto;
}

.title-text--p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  width: 80%;
  margin: auto;
}

.btn-slide-container {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.slide-btn {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid #14a314;
  margin: auto;
}

.slide-btn-white {
  background-color: white;
  color: #14a314;
  margin-right: 1rem;
}
.slide-btn-white:hover {
  background-color: #e6e6e6;
}

.slide-btn-green {
  background-color: #14a314;
  color: white;
  margin-left: 1rem;
}
.slide-btn-green:hover {
  background-color: #0e760e;
}

.slide-btn:focus {
  outline: none;
}

.slide-btn a {
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .title-space {
    position: absolute;
    top: 40vh;
    text-align: center;
  }

  .title-text--h1 {
    font-size: 2.5rem;
  }

  .title-text--p {
    font-size: 1rem;
  }

  .btn-slide-container {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .slide-btn {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}
@media screen and (max-width: 550px) {
  .carrousel {
    height: 92vh;
  }

  .cat-section-title {
    width: fit-content;
  }
}
@media screen and (max-height: 600px) {
  .title-space {
    position: absolute;
    top: 50vh;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Categories */
.categories {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  transition: 1s;
  width: 90%;
  height: 70vh;
}

.cat-section-title {
  margin: auto;
  margin-left: 0px;
  width: 20%;
}

.right {
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 65%;
}

.item {
  background-size: auto 100%;
  background-position: center;
  width: 33%;
  transition: width 700ms ease;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.vert {
  color: white;
  font-size: 2.5rem;
  transform: rotate(-90deg);
  position: absolute;
  left: -6rem;
  bottom: 9rem;
  transition: opacity 200ms ease;
}

.cat-titre-huiles {
  white-space: nowrap;
  left: -8.5rem;
  bottom: 11.3rem;
}

.cat-titre-homeo {
  bottom: 8.4rem;
}

.horiz {
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  width: 80%;
  margin-left: 2rem;
  color: white;
  transition: opacity 1000ms ease;
}

.horiz h3 {
  color: white;
}

.item:hover {
  width: 120%;
}

.item:hover .horiz {
  opacity: 1;
}

.item:hover .vert {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .horiz h3 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 860px) {
  .categories {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-bottom: 0px;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .item {
    width: 80%;
    height: 50vh;
    margin-top: 2rem;
  }

  .icone-lazy {
    filter: blur(20px);
  }

  .vert {
    display: none;
  }

  .horiz {
    display: block;
    opacity: 1;
  }

  .horiz h3 {
    font-size: 2.5rem;
  }

  .item:hover {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .cat-section-title {
    text-align: center;
  }

  .item {
    width: 90%;
  }

  .item:hover {
    width: 90%;
  }

  .horiz h3 {
    font-size: 2rem;
  }
}
/* Sticky Pic//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// ///////////////////////////////////////////*/
.sticky-pic {
  margin-top: 2.5rem;
}
.sticky-pic__container {
  height: 80vh;
  background: url("/Images/ext_pharma.jpeg") repeat fixed;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Produits du moment */
.moment-products {
  padding-top: 4rem;
  margin-bottom: 5rem;
  transition: 1s;
}
.moment-products__container {
  width: 70%;
  margin: auto;
  margin-top: 8rem;
  position: relative;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}
.top-box--texts {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 30%;
}
@media screen and (max-width: 800px) {
  .top-box--texts {
    max-width: 50%;
    word-wrap: break-word;
  }
}
.top-box__pics {
  display: flex;
  align-items: center;
  width: 25%;
}
@media screen and (max-width: 1000px) {
  .top-box__pics {
    width: 28%;
  }
}
@media screen and (max-width: 800px) {
  .top-box__pics {
    width: 30%;
  }
}
@media screen and (max-width: 650px) {
  .top-box__pics {
    width: 33%;
  }
}

.titles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
.titles__title {
  height: fit-content;
  width: 24rem;
  margin: auto;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
@media screen and (max-width: 800px) {
  .titles__title {
    width: 20rem;
  }
}
@media screen and (max-width: 700px) {
  .titles__title {
    width: 18rem;
  }
}

.title-green {
  color: #14a314;
  font-weight: bolder;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  .title-green {
    font-size: 1.25rem;
  }
}
.title-grey {
  color: #888;
  font-weight: bolder;
  margin: auto;
}

.descriptions {
  display: flex;
  align-items: flex-start;
}
.descriptions__description {
  text-align: left;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  font-style: italic;
  color: #666;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .descriptions__description {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .descriptions__description {
    margin-top: 0.5rem;
    width: 17rem;
  }
}
@media screen and (max-width: 700px) {
  .descriptions__description {
    margin-top: 0.2rem;
    width: 15rem;
  }
}

.product__pic {
  min-width: 100%;
  min-height: 100%;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  overflow: hidden;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 12%;
}
.arrows__arrow {
  height: 2.5rem;
  width: min-content;
  max-width: 3rem;
  cursor: pointer;
}
.arrows__arrow--left {
  transform: rotateY(180deg);
  opacity: 0.5;
}
@media screen and (max-width: 1200px) {
  .arrows {
    min-width: 14%;
  }
}
@media screen and (max-width: 1000px) {
  .arrows {
    min-width: 16%;
  }
}
@media screen and (max-width: 850px) {
  .arrows {
    min-width: 18%;
  }
}
@media screen and (max-width: 750px) {
  .arrows {
    min-width: 20%;
  }
}
@media screen and (max-width: 650px) {
  .arrows {
    min-width: 25%;
  }
}

.stepper {
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -2.2rem;
}
.stepper__ball {
  position: relative;
  height: 1.5rem;
  width: 33%;
}
.stepper__ball--grey {
  border-radius: 50%;
  background-color: #ccc9c9;
  width: 1.5rem;
  height: 1.5rem;
}
.stepper__ball--green {
  border-radius: 50%;
  background-color: #14a314;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s ease-in-out;
  transform-origin: left;
}
.stepper__ball::before {
  position: absolute;
  content: "";
  height: 0.2rem;
  background-color: #ccc9c9;
  top: 45%;
  width: 100%;
  z-index: -1;
}
.stepper__ball::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  background-color: #14a314;
  top: 45%;
  width: 100%;
  right: 0%;
  transform-origin: left;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 2;
}
.stepper__ball:last-child {
  width: 4.1rem;
}
@media screen and (max-width: 1000px) {
  .stepper__ball:last-child {
    width: 4.3rem;
  }
}
@media screen and (max-width: 800px) {
  .stepper__ball:last-child {
    width: 4.4rem;
  }
}
@media screen and (max-width: 725px) {
  .stepper__ball:last-child {
    width: 4.5rem;
  }
}
@media screen and (max-width: 650px) {
  .stepper__ball:last-child {
    width: 4.6rem;
  }
}
@media screen and (max-width: 650px) {
  .stepper__ball:last-child {
    width: 4.7rem;
  }
}
@media screen and (max-width: 570px) {
  .stepper__ball:last-child {
    width: 4.8rem;
  }
}
.stepper__ball:last-child::before {
  content: none;
}
.stepper__ball:last-child::after {
  content: none;
}
.stepper__ball img {
  width: 1.5rem;
}

@media screen and (max-width: 550px) {
  .moment-products {
    min-height: auto;
    margin: auto;
  }

  .moment-products__container {
    display: none;
  }

  .sm-screen-replacement {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10%);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .rpm-pic {
    width: 50%;
    margin-top: 2rem;
  }

  .rpm-header {
    width: 85%;
    margin-top: 2rem;
  }

  .rpm-text {
    width: 80%;
    font-size: 1rem;
    margin-bottom: 3.5rem;
    color: #666;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Contact */
#contact {
  margin-bottom: 5rem;
  transition: 1s;
  padding-top: 4rem;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}

.contact-text {
  width: 40%;
  margin-top: 3%;
  overflow-wrap: break-word;
}

.contact-bloc {
  border-radius: 10px;
  padding: 1rem;
}

.find-us {
  color: white;
  transform: translateX(-8%);
  transform: translateY(15%);
  background-image: linear-gradient(to top left, #35af81, #a1e665);
  position: relative;
  z-index: 2;
}

.find-us h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1%;
}

.contact-text p {
  font-size: 1.3rem;
  font-weight: lighter;
}

.address {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-text li {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-bullets {
  font-size: 1.3rem;
  font-weight: lighter;
}

.contact-us {
  transform: translateX(8%);
  border: 2px solid #14a314;
  position: relative;
  z-index: 1;
}

.tel {
  margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
  .google-map {
    width: 30rem;
  }
}
@media screen and (max-width: 1050px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .google-map {
    width: 60%;
  }

  .contact-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 15%;
  }

  .contact-bloc {
    min-height: 100%;
    width: 40%;
  }

  .contact-bloc h3 {
    margin-top: 1%;
  }

  .find-us {
    transform: translateX(0%);
  }

  .contact-us {
    transform: translateX(0%);
  }

  .contact-bullets {
    transform: translateX(-2%);
  }
}
@media screen and (max-width: 835px) {
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  .contact-us {
    margin-top: 1rem;
  }

  .contact-bloc {
    min-width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .contact-bloc li {
    list-style: none;
  }

  .contact-bullets {
    transform: translateX(-10%);
  }

  .google-map {
    height: 20rem;
  }
}
@media screen and (max-width: 660px) {
  .contact-bloc h3 {
    font-size: 1.2rem;
  }

  .contact-bloc {
    min-width: 85%;
  }

  .google-map {
    width: 85%;
  }

  .contact-text li {
    font-size: 0.8rem;
    font-weight: lighter;
    width: 120%;
    transform: translateX(0%);
  }

  .contact-text p {
    font-size: 1rem;
  }

  .address {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Horaires */
.horaires {
  margin-bottom: 2rem;
}

.horaires h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: auto;
  margin-top: 5rem;
  width: fit-content;
  margin-bottom: 4rem;
}

.horaires-padded-component {
  margin: auto;
  width: 51%;
  height: 12rem;
  border-radius: 5px;
  border: 1px gray;
  background-color: #c9f7d0;
  border-radius: 10px;
}

.horaires-btn-container {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.horaires-btn {
  background-color: white;
  color: #14a314;
  border-radius: 12px;
  border: 1px solid #14a314;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
}

.horaires-btn:focus {
  outline: none;
}

.horaires-btn-active {
  transform: translateY(-50%);
  color: white;
  background-color: #14a314;
  border: 2px solid #14a314;
}

.horaires-content {
  margin: auto;
  width: fit-content;
}

.horaires-content h5 {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 10%;
  text-align: center;
}

.horaires-content p {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 3%;
  text-align: center;
}

.horaires-content-hidden {
  display: none;
}

@media screen and (max-width: 1050px) {
  .horaires-content {
    margin-top: 2rem;
  }

  .horaires-content h5 {
    font-size: 2rem;
  }

  .horaires-content p {
    font-size: 1.25rem;
  }

  .horaires-btn {
    font-size: 1rem;
    width: 6rem;
  }

  .horaires-padded-component {
    height: 14rem;
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .horaires-padded-component {
    height: 16rem;
    width: 70%;
  }

  .horaires-btn-container {
    width: 75%;
  }
}
@media screen and (max-width: 520px) {
  .horaires-padded-component {
    height: 11rem;
    width: 85%;
  }

  .horaires-btn-container {
    width: 65%;
    margin-top: 2rem;
  }

  .horaires-btn {
    font-size: 0.7rem;
    width: 4rem;
  }

  .horaires-content h5 {
    font-size: 1.25rem;
  }

  .horaires-content p {
    font-size: 1rem;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Jumbotron */
.pdts-nat-body,
.para-body {
  background-color: #f3efef;
}

.jumbotron {
  position: relative;
}

.jumbo-text {
  color: white;
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
  width: 100%;
}

.jumbo-text h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.jumbo-text p {
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
}

.jumbo-img {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.para-img {
  width: 100%;
  height: 60rem;
  transition: transform 15s ease;
  object-fit: cover;
}

.jumbo-img:hover .para-img {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .jumbotron {
    height: 90vh;
  }

  .jumbo-text h1 {
    font-size: 2rem;
  }

  .jumbo-text p {
    font-size: 1rem;
  }

  .jumbo-img {
    height: 80vh;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Cards laboratoires */
.grid-nat-hidden {
  opacity: 0;
  transform: translateY(2%);
}

.trans {
  transition: 1s;
}

.produits-naturels-presentation {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 7%;
  margin-bottom: 2rem;
}

.produits-naturels-grid-container {
  width: fit-content;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  box-sizing: border-box;
}

.card {
  width: 22rem;
  background-color: white;
  margin: auto;
  height: 12rem;
}

.cardpic {
  width: 21.8rem;
  height: 12rem;
}

.card-body {
  padding: 0px;
  height: 12rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-102%);
  background-color: white;
  opacity: 0;
  transition: 0.8s ease;
}

.card:hover .card-body {
  opacity: 1;
}

.card-body h5 {
  font-size: 1.5rem;
  width: fit-content;
  margin-top: 3.5rem;
  margin-bottom: 0px;
  margin-left: 5%;
  color: #14a314;
}

.card-body p {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 5%;
  width: 90%;
  color: grey;
}

@media screen and (max-width: 1245px) {
  .produits-naturels-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 874px) {
  .produits-naturels-grid-container {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .produits-naturels-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    border: 1px solid lightgray;
  }

  .cardpic {
    width: 19.8rem;
    border-bottom: 1px solid lightgray;
  }

  .card-body {
    height: 8rem;
    transform: translateY(0%);
    opacity: 1;
    padding-top: 1rem;
  }

  .card-body h5 {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .card-body p {
    font-size: 0.8rem;
  }
}
/* Page Mentions légales */
.legal-text {
  width: 90%;
  margin: auto;
  margin-top: 10rem;
}

.legal-text h1 {
  margin: auto;
  margin-bottom: 4rem;
  width: fit-content;
  font-size: 3.5rem;
  color: var(--color-primary);
}

.legal-text h2 {
  margin-top: 2rem;
  color: black;
  font-size: 2rem;
}

.legal-text p {
  margin-top: 2rem;
}

.legal-footer {
  margin-top: 4rem;
}

/*# sourceMappingURL=style.css.map */
