$color-primary: rgb(20, 163, 20);
$text-primary: white;
$text-muted: lightgrey;
$nav-textSize: 1rem;
$border-color: #ddd;
$card-width: 22rem;
$cardpic-width: 21.8rem;
$gradient-primary: linear-gradient(to top left, #35af81, #a1e665);
$background-color: #f7f7f7;
$ball-height: 1.5rem;
$ball-width: 3%;
$stepper-green: $color-primary;
$stepper-grey: rgb(204, 201, 201);

.translate--100 {
  transform: translateX(-100%);
}
.translate--200 {
  transform: translateX(-200%);
}
.translate--300 {
  transform: translateX(-300%);
}

@mixin transition-transform {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@mixin transition-after {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@mixin ball($color) {
  border-radius: 50%;
  background-color: $color;
  width: 1.5rem;
  height: 1.5rem;
}

@mixin logo {
  &__logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@mixin find-us {
  display: flex;
  align-items: center;
  position: relative;
  @include logo;
  &__text {
    margin-left: 1rem;
  }
}

.unscale::after {
  opacity: 0;
  transform: scaleX(0);
}

.ball-up {
  transform: translateY(-100%);
}

.atrophy {
  transform: scaleX(0);
}
