/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Carousel CSS */

.carrousel {
  width: 100%;
}

.carrousel-container {
  width: 100%;
  position: relative;
}

.carrousel-slide {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.carrousel-slide-fadeInOut {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 14.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carrousel-image {
  width: 100%;
  height: 95vh;
  margin-top: 5vh;
  overflow: hidden;
  display: block;
}

.sm-screen-replacement {
  display: none;
}

@media screen and (max-width: 1160px) {
  .carrousel-image {
    object-fit: cover;
    /* La taille de l'image s'adapte sans toucher au ration donc elle ne se déforme pas même si on n'en voit qu'une partie */
  }
}

.title-space {
  color: var(--text-primary);
  width: 100%;
  position: absolute;
  top: 63vh;
  z-index: 10;
}

.title-text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-text--h1 {
  font-weight: 500;
  font-size: 3rem;
  padding-top: 1rem;
  color: var(--text-primary);
  width: fit-content;
  margin: auto;
}

.title-text--p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  width: 80%;
  margin: auto;
}

.btn-slide-container {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.slide-btn {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  margin: auto;
}

.slide-btn-white {
  background-color: var(--text-primary);
  color: var(--color-primary);
  margin-right: 1rem;
}

.slide-btn-green {
  background-color: var(--color-primary);
  color: var(--text-primary);
  margin-left: 1rem;
}

.slide-btn:focus {
  outline: none;
}

.slide-btn a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-primary);
}

@media screen and (max-width: 800px) {
  .title-space {
    position: absolute;
    top: 40vh;
    text-align: center;
  }

  .title-text--h1 {
    font-size: 2.5rem;
  }

  .title-text--p {
    font-size: 1rem;
  }

  .btn-slide-container {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .slide-btn {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

@media screen and (max-width: 550px) {
  .carrousel {
    height: 92vh;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Categories */

.categories {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
  width: 90%;
}

.catprez {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 60%;
}

.cat__left {
  transform: translate(-30%);
}

.cat__right {
  transform: translate(30%);
}

.cat-icone {
  width: 13rem;
}

.icone-lazy {
  filter: blur(20px);
}

.huile-icone {
  height: 5rem;
}

.cat-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}

.cat-name {
  color: var(--color-primary);
}

.highlight {
  position: relative;
  color: black;
  display: block;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.oil-highlight {
  width: 75%;
  margin-right: 1rem;
}

.cat-description {
  margin-bottom: 2rem !important;
}

.cat-btn {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 10px;
  border-style: none;
  width: 10rem;
  border: 1px solid var(--color-primary);
  margin-top: -1rem;
  background-color: var(--background-color);
}

.cat-btn a {
  text-decoration: none;
  color: var(--color-primary);
}

@media screen and (max-width: 1365px) {
  .oil-highlight {
    width: 80%;
  }
}

@media screen and (max-width: 1240px) {
  .oil-highlight {
    width: 85%;
  }
}

@media screen and (max-width: 1187px) {
  .oil-highlight {
    width: 90%;
  }
}

@media screen and (max-width: 1175px) {
  .oil-highlight {
    width: 95%;
  }
}

@media screen and (max-width: 1060px) {
  .oil-highlight {
    width: 92%;
  }

  .catprez {
    width: 65%;
  }

  .cat-icone {
    width: 13rem;
  }
}

@media screen and (max-width: 1000px) {
  .oil-highlight {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .categories {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
  }

  .catprez {
    width: 85%;
  }

  .cat-homeo,
  .cat-huiles {
    margin-top: 4rem;
  }

  .cat__left {
    transform: translate(0%);
  }

  .cat__right {
    transform: translate(0%);
  }

  .oil-highlight {
    width: 85%;
  }
}

@media screen and (max-width: 840px) {
  .oil-highlight {
    width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .oil-highlight {
    width: 80%;
  }
}

@media screen and (max-width: 670px) {
  .oil-highlight {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .cat-icone {
    width: 12rem;
  }
  .oil-highlight {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .oil-highlight {
    width: 105%;
  }
}

@media screen and (max-width: 500px) {
  .cat-btn {
    padding: 0.3rem;
    font-size: 1rem;
  }

  .cat-icone {
    width: 11rem;
  }

  .cat-description {
    display: none;
  }

  .categories {
    align-items: center;
  }

  .catprez {
    display: block;
    width: min-content;
  }

  .cat-btn {
    margin-top: 1rem;
  }

  .cat-text {
    width: 100%;
    align-items: center;
  }

  .cat-name {
    width: fit-content;
  }

  .cat-name-oil {
    width: 100%;
    transform: translateX(-14%);
  }

  .oil-highlight {
    width: 128%;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Produits du moment */

.moment-products {
  margin-top: 7rem;
  padding-top: 4rem;
  margin-bottom: 5rem;
  transition: 1s;
  border-top: 1px solid var(--border-color);
}

/* SLIDER */
.slider {
  max-width: 80%;
  height: 30rem;
  margin: 0 auto;
  margin-top: -2rem;
  padding-top: 0px;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: rgb(228, 252, 228);
  color: var(--color-primary);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  border: none;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  min-height: 0.5rem;
  max-width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  padding-right: 6px;
  padding-left: 6px;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 75%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-pic {
  max-height: 16rem;
  max-width: 50%;
  margin: 1rem;
}

.endro-pic {
  max-width: 40%;
}

.testimonial-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 70%;
}
.testimonial-description-right {
  margin-right: 0px;
}

.testimonial-description-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 70%;
}

.testimonial__header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ergy-highlight {
  width: 65%;
  margin: auto;
}

.product-grey-addition {
  color: #888;
  font-size: 1.5rem;
}

.testimonial__text {
  font-size: 1rem;
  margin-bottom: 3.5rem;
  color: #666;
  width: 80%;
  overflow-wrap: break-word;
}

.testimonial_header-rpm {
  width: 80%;
}

@media screen and (max-width: 1440px) {
  .testimonial-description-propolis {
    width: 50%;
  }
}

@media screen and (max-width: 1405px) {
  .testimonial-description-propolis {
    width: 45%;
  }
}

@media screen and (max-width: 1385px) {
  .ergy-highlight {
    width: 70%;
  }
  .endro-highlight {
    width: 65%;
    margin: auto;
  }
}

@media screen and (max-width: 1305px) {
  .ergy-highlight {
    width: 85%;
  }
  .ergy-pic {
    max-width: 35%;
  }
  .testimonial-description-left {
    width: 55%;
  }
}

@media screen and (max-width: 1270px) {
  .endro-highlight {
    width: 72%;
  }
}

@media screen and (max-width: 1192px) {
  .testimonial-description-bouleau {
    height: 60%;
    width: 50%;
    margin-right: 2rem;
  }

  .endro-highlight {
    width: 75%;
  }

  .product-grey-addition {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1170px) {
  .endro-pic .royale-pic {
    max-width: 45%;
  }
  .endro-highlight {
    width: 80%;
  }
}

@media screen and (max-width: 1091px) {
  .endro-highlight {
    width: 85%;
  }
}

@media screen and (max-width: 1055px) {
  .royale-pic {
    max-width: 40%;
  }
  .testimonial-description-propolis {
    width: 50%;
  }

  .ergy-pic {
    max-width: 30%;
  }
  .endro-pic {
    max-width: 40%;
  }
}

@media screen and (max-width: 1045px) {
  .testimonial-description-bouleau {
    width: 45%;
    height: 45%;
  }
}

@media screen and (max-width: 975px) {
  .testimonial-description-propolis {
    width: 50%;
  }
  .slider {
    max-width: 90%;
  }

  .testimonial__header {
    font-size: 1.75rem;
  }
  .ergy-pic {
    max-width: 35%;
  }
}

@media screen and (max-width: 900px) {
  .moment-products {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 843px) {
  .highlight {
    font-size: 1.5rem;
  }

  .ergy-highlight {
    font-size: 1.25rem;
    width: 65%;
  }

  .product-grey-addition {
    font-size: 1rem;
  }

  .bouleau-pic {
    max-width: 30%;
  }

  .testimonial-description-bouleau {
    width: 55%;
  }
}

@media screen and (max-width: 700px) {
  .slider {
    display: none;
  }

  .moment-products {
    min-height: auto;
    margin: auto;
  }

  .sm-screen-replacement {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10%);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .rpm-pic {
    width: 50%;
    margin-top: 2rem;
  }

  .rpm-header {
    width: 85%;
    margin-top: 2rem;
  }

  .rpm-text {
    width: 80%;
    font-size: 1rem;
    margin-bottom: 3.5rem;
    color: #666;
  }
}

@media screen and (max-width: 500px) {
  .moment-products {
    /* margin-top: 10rem;
     */
    border-top: none;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Contact */

#contact {
  margin-bottom: 5rem;
  transition: 1s;
  border-top: 1px solid var(--border-color);
  padding-top: 4rem;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}

.contact-text {
  width: 40%;
  margin-top: 3%;
  overflow-wrap: break-word;
}

.contact-bloc {
  border-radius: 10px;
  padding: 1rem;
}

.find-us {
  color: white;
  transform: translateX(-8%);
  transform: translateY(15%);
  background-image: var(--gradient-primary);
  position: relative;
  z-index: 2;
}
.find-us h3 {
  color: var(--text-primary);
  font-size: 2rem;
  margin-bottom: 1%;
}

.contact-text p {
  font-size: 1.3rem;
  font-weight: lighter;
}

.address {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-text li {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-bullets {
  font-size: 1.3rem;
  font-weight: lighter;
}

.contact-us {
  transform: translateX(8%);
  border: 2px solid var(--color-primary);
  position: relative;
  z-index: 1;
}

.tel {
  margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
  .google-map {
    width: 30rem;
  }
}

@media screen and (max-width: 1050px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .google-map {
    width: 60%;
  }

  .contact-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 15%;
  }

  .contact-bloc {
    min-height: 100%;
    width: 40%;
  }

  .contact-bloc h3 {
    margin-top: 1%;
  }

  .find-us {
    transform: translateX(0%);
  }

  .contact-us {
    transform: translateX(0%);
  }

  .contact-bullets {
    transform: translateX(-2%);
  }
}

@media screen and (max-width: 835px) {
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  .contact-us {
    margin-top: 1rem;
  }

  .contact-bloc {
    min-width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .contact-bloc li {
    list-style: none;
  }

  .contact-bullets {
    transform: translateX(-10%);
  }

  .google-map {
    height: 20rem;
  }
}

@media screen and (max-width: 660px) {
  .contact-bloc h3 {
    font-size: 1.2rem;
  }

  .contact-bloc {
    min-width: 85%;
  }

  .google-map {
    width: 85%;
  }

  .contact-text li {
    font-size: 0.8rem;
    font-weight: lighter;
    width: 120%;
    transform: translateX(0%);
  }

  .contact-text p {
    font-size: 1rem;
  }

  .address {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Horaires */

.horaires h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: auto;
  margin-top: 5rem;
  width: fit-content;
  margin-bottom: 4rem;
}

.horaires-padded-component {
  margin: auto;
  width: 51%;
  height: 12rem;
  border-radius: 5px;
  border: 1px gray;
  background-color: rgb(201, 247, 208);
  border-radius: 10px;
}

.horaires-btn-container {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.horaires-btn {
  background-color: white;
  color: var(--color-primary);
  border-radius: 12px;
  /* padding: 1rem; */
  border: 1px solid var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
}

.horaires-btn:focus {
  outline: none;
}

.horaires-btn-active {
  transform: translateY(-50%);
  color: var(--text-primary);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.horaires-content {
  margin: auto;
  width: fit-content;
}

.horaires-content h5 {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 10%;
  text-align: center;
}

.horaires-content p {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 3%;
  text-align: center;
}

.horaires-content-hidden {
  display: none;
}

@media screen and (max-width: 1050px) {
  .horaires-content {
    margin-top: 2rem;
  }

  .horaires-content h5 {
    font-size: 2rem;
  }

  .horaires-content p {
    font-size: 1.25rem;
  }

  .horaires-btn {
    font-size: 1rem;
    width: 7rem;
    height: 4rem;
  }

  .horaires-padded-component {
    height: 14rem;
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .horaires-padded-component {
    height: 16rem;
    width: 70%;
  }

  .horaires-btn-container {
    width: 75%;
  }
}

@media screen and (max-width: 520px) {
  .horaires-padded-component {
    height: 11rem;
    width: 85%;
  }

  .horaires-btn-container {
    width: 65%;
    margin-top: 2rem;
  }

  .horaires-btn {
    font-size: 0.7rem;
    width: 4.5rem;
    height: 3.5rem;
  }

  .horaires-content h5 {
    font-size: 1.25rem;
  }

  .horaires-content p {
    font-size: 1rem;
  }
}
