:root {
  --color-primary: rgb(20, 163, 20);
  --text-primary: white;
  --text-muted: lightgrey;
  --nav-textSize: 1rem;
  --border-color: #ddd;
  --card-width: 22rem;
  --cardpic-width: 21.8rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  /* On met l'overflow x parce que sinon ont peu scorller et voir les autres photos */
}

h2 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4.5rem;
  margin: auto;
  margin-bottom: 4rem;
  width: fit-content;
  transition: 1s;
}

h3 {
  font-weight: bold;
  font-size: 2em;
  color: var(--color-primary);
  margin-bottom: 2%;
  width: fit-content;
}

.title-center {
  text-align: center;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10%);
}

.header {
  height: 100vh;
}

.navbar {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  min-height: 35px;
  z-index: 50;
  position: absolute;
  top: 0px;
  width: 100%;
}

.nav-sticky {
  position: fixed;
  top: 0px;
  z-index: 50;
}
.navbar ul {
  list-style: none;
}

.navbar li {
  margin-left: 1rem;
}

.navbar a {
  text-decoration: none;
}

.muted {
  color: var(--text-muted);
}

.nav-white {
  color: var(--text-primary);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: 2rem;
  font-size: var(--nav-textSize);
  width: 25%;
  min-width: 252px;
  height: 5vh;
}

.cross-logo {
  height: 2rem;
  margin-top: 0.4rem;
}

.cross-logo-press {
  transform: rotate(180deg);
}

.pharma-name {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  min-width: 252px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 5vh;
  margin-left: 1rem;
}

.nav-btns-left {
  display: flex;
  justify-content: left;
  width: fit-content;
  align-items: center;
  padding-left: 0px;
}

.nav-btns-left a:hover {
  border-bottom: 2px solid white;
}

.nav-link {
  margin-left: 1rem;
  transform: translateX(-3%);
}

.nav-contact {
  margin-right: 1rem;
  height: 5vh;
  font-size: var(--nav-textSize);
  display: flex;
  align-items: center;
  width: min-content;
}

.btn-contact {
  background-color: var(--color-primary);
  font-weight: 600;
  font-size: var(--nav-textSize);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: auto;
  height: min-content;
}

.lnk-contact:hover {
  border-bottom: 2px solid white;
}

.btn-contact:focus {
  outline: none;
}

.burger {
  border: 1px solid white;
  margin: 0px;
  cursor: pointer;
  transform: translateY(-1px);
  display: none;
}

.burger div {
  width: 24px;
  height: 2px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1140px) {
  .nav-links {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1066px) {
  .nav-links {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 750px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
  }

  .navbar li {
    margin: auto;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 5vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.8s ease-in;
    display: none;
  }

  .for-opac {
    opacity: 0;
  }

  .nav-btns-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: 5rem;
    margin: auto;
    margin-top: 5rem;
  }

  .nav-contact {
    height: min-content;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .btn-contact {
    margin: auto;
  }

  .burger {
    display: block;
    margin-right: 1.5rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-visible {
  display: block;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.toggle {
  border: none;
}

@media screen and (max-width: 550px) {
  .navbar {
    height: 8vh;
  }
}

@media screen and (max-width: 500px) {
  .pharma-name {
    font-size: 1.2rem;
  }

  .cross-logo {
    height: 2rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Carousel CSS */

.carrousel {
  width: 100%;
}

.carrousel-container {
  width: 100%;
  position: relative;
}

.carrousel-slide {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.carrousel-slide-fadeInOut {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 14.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carrousel-image {
  width: 100%;
  height: 95vh;
  margin-top: 5vh;
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 1160px) {
  .carrousel-image {
    object-fit: cover;
    /* La taille de l'image s'adapte sans toucher au ration donc elle ne se déforme pas même si on n'en voit qu'une partie */
  }
}

.title-space {
  color: var(--text-primary);
  width: 100%;
  position: absolute;
  top: 63vh;
  z-index: 10;
}

.title-text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-text--h1 {
  font-weight: 500;
  font-size: 3rem;
  padding-top: 1rem;
  color: var(--text-primary);
  width: fit-content;
  margin: auto;
}

.title-text--p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  width: 80%;
  margin: auto;
}

.btn-slide-container {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.slide-btn {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  margin: auto;
}

.slide-btn-white {
  background-color: var(--text-primary);
  color: var(--color-primary);
  margin-right: 1rem;
}

.slide-btn-green {
  background-color: var(--color-primary);
  color: var(--text-primary);
  margin-left: 1rem;
}

.slide-btn:focus {
  outline: none;
}

.slide-btn a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-primary);
}

@media screen and (max-width: 800px) {
  .title-space {
    position: absolute;
    top: 40vh;
    text-align: center;
  }

  .title-text--h1 {
    font-size: 2.5rem;
  }

  .title-text--p {
    font-size: 1rem;
  }

  .btn-slide-container {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .slide-btn {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

@media screen and (max-width: 550px) {
  .carrousel {
    height: 92vh;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Categories */

.categories {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  transition: 1s;
  border: none;
}

.catprez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-icone {
  width: 15rem;
}

.huile-icone {
  height: 5rem;
}

.cat-name {
  color: var(--color-primary);
}

.cat-btn {
  background-color: var(--color-primary);
  color: var(--text-primary);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border-style: none;
  margin-top: 1rem;
}

.cat-btn a {
  text-decoration: none;
  color: var(--text-primary);
}

@media screen and (max-width: 900px) {
  .categories {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
  }

  .cat-homeo,
  .cat-huiles {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .cat-btn {
    padding: 0.3rem;
    font-size: 1rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Produits du moment */

.moment-products {
  margin-top: 7rem;
  padding-top: 4rem;
  transition: 1s;
  min-height: 95vh;
}

/* SLIDER */
.slider {
  max-width: 80%;
  height: 30rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 0px;
  position: relative;
  border: 1px solid var(--text-muted);

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--color-primary);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  min-height: 0.5rem;
  max-width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  padding-right: 6px;
  padding-left: 6px;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-pic {
  height: 13rem;
  margin-top: 1rem;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: min-content;
}

.product-grey-addition {
  color: #888;
  font-size: 1.5rem;
}

.testimonial__text {
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
  color: #666;
}

@media screen and (max-width: 975px) {
  .testimonial-pic {
    height: 11rem;
  }

  .testimonial__header {
    font-size: 1.75rem;
  }

  .testimonial__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 715px) {
  .moment-products {
    margin-top: 2rem;
  }
  .slider {
    height: 55vh;
    min-width: 90%;
  }

  .testimonial {
    transform: translateY(-10%);
  }

  .testimonial h3 {
    font-size: 1.2rem;
  }

  .product-grey-addition {
    font-size: 1.1rem;
  }

  .testimonial__text {
    margin-top: 1rem;
    font-size: 0.8rem;
    z-index: 20;
  }
  .testimonial-pic {
    height: 5rem;
  }

  .slider__btn--left {
    left: 8%;
    transform: translate(-50%, -50%);
  }

  .slider__btn--right {
    right: 8%;
    transform: translate(50%, -50%);
  }

  .slider__btn {
    background-color: transparent;
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .slider {
    height: 65vh;
    min-width: 90%;
  }

  .slider__btn {
    display: none;
  }

  .dots__dot {
    display: none;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Contact */

#contact {
  margin-bottom: 5rem;
  margin-top: 1rem;
  transition: 1s;
  border-top: 1px solid var(--border-color);
  padding-top: 4rem;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}

.contact-text {
  width: 40%;
  margin-top: 3%;
  overflow-wrap: break-word;
}

.contact-bloc {
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid var(--color-primary);
}

.find-us {
  background-color: var(--color-primary);
  color: white;
  transform: translateX(-8%);
}
.find-us h3 {
  color: var(--text-primary);
  font-size: 2rem;
  margin-bottom: 1%;
}

.contact-text p {
  font-size: 1.3rem;
  font-weight: lighter;
}

.address {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-text li {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-bullets {
  font-size: 1.3rem;
  font-weight: lighter;
}

.contact-us {
  transform: translateX(8%);
  transform: translateY(-15%);
}

.tel {
  margin-top: 1rem;
}

@media screen and (max-width: 1300px) {
  .google-map {
    width: 30rem;
  }
}

@media screen and (max-width: 1050px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .google-map {
    width: 60%;
  }

  .contact-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 15%;
  }

  .contact-bloc {
    min-height: 100%;
    width: 40%;
  }

  .contact-bloc h3 {
    margin-top: 1%;
  }

  .find-us {
    transform: translateX(0%);
  }

  .contact-us {
    transform: translateX(0%);
  }

  .contact-bullets {
    transform: translateX(-2%);
  }
}

@media screen and (max-width: 835px) {
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }

  .contact-us {
    margin-top: 1rem;
  }

  .contact-bloc {
    min-width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .contact-bloc li {
    list-style: none;
  }

  .contact-bullets {
    transform: translateX(-10%);
  }

  .google-map {
    height: 20rem;
  }
}

@media screen and (max-width: 660px) {
  .contact-bloc h3 {
    font-size: 1.2rem;
  }

  .contact-bloc {
    min-width: 85%;
  }

  .google-map {
    width: 85%;
  }

  .contact-text li {
    font-size: 0.8rem;
    font-weight: lighter;
    width: 120%;
    transform: translateX(0%);
  }

  .contact-text p {
    font-size: 1rem;
  }

  .address {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Horaires */

.horaires h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: auto;
  margin-top: 5rem;
  width: fit-content;
  margin-bottom: 7rem;
}

.horaires-padded-component {
  margin: auto;
  width: 51%;
  height: 18rem;
  border-radius: 5px;
  border: 1px gray;
  background-color: rgb(201, 247, 208);
  border-radius: 10px;
}

.horaires-btn-container {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.horaires-btn {
  background-color: white;
  color: var(--color-primary);
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  width: 8rem;
  height: 5rem;
}

.horaires-btn:focus {
  outline: none;
}

.horaires-btn-active {
  transform: translateY(-50%);
  color: var(--text-primary);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.horaires-content {
  margin: auto;
  width: fit-content;
}

.horaires-content h5 {
  font-size: 2.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 5%;
  text-align: center;
}

.horaires-content p {
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 3%;
  text-align: center;
}

.horaires-content-hidden {
  display: none;
}

@media screen and (max-width: 1050px) {
  .horaires-content {
    margin-top: 2rem;
  }

  .horaires-content h5 {
    font-size: 2rem;
  }

  .horaires-content p {
    font-size: 1.25rem;
  }

  .horaires-btn {
    font-size: 1rem;
    width: 7rem;
    height: 4rem;
  }

  .horaires-padded-component {
    height: 14rem;
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .horaires-padded-component {
    height: 16rem;
    width: 70%;
  }

  .horaires-btn-container {
    width: 75%;
  }
}

@media screen and (max-width: 520px) {
  .horaires-padded-component {
    height: 11rem;
    width: 85%;
  }

  .horaires-btn-container {
    width: 65%;
    margin-top: 2rem;
  }

  .horaires-btn {
    font-size: 0.7rem;
    width: 4.5rem;
    height: 3.5rem;
  }

  .horaires-content h5 {
    font-size: 1.25rem;
  }

  .horaires-content p {
    font-size: 1rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Contact */

footer {
  height: 3rem;
  background-color: var(--color-primary);
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.copy-right {
  margin-left: 1rem;
  color: var(--text-primary);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Page produits naturels */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Jumbotron */

.pdts-nat-body,
.para-body {
  background-color: rgb(243, 239, 239);
}

.jumbotron {
  position: relative;
}

.jumbo-text {
  color: var(--text-primary);
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
  width: 100%;
}

.jumbo-text h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.jumbo-text p {
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
}

.jumbo-img {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.para-img {
  width: 100%;
  height: 60rem;
  transition: transform 15s ease;
  object-fit: cover;
}

.jumbo-img:hover .para-img {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .jumbo-text h1 {
    font-size: 2rem;
  }

  .jumbo-text p {
    font-size: 1rem;
  }

  .jumbo-img {
    height: 70vh;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Cards laboratoires */

.produits-naturels-presentation {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 7%;
  margin-bottom: 2rem;
}

.produits-naturels-grid-container {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  border: 2px solid lightgray;
  width: var(--card-width);
  background-color: white;
}

.card:hover {
  transform: translateY(-0.5rem);
  transition: 1s;
}

.cardpic {
  width: var(--cardpic-width);
  height: 12rem;
  border-bottom: 2px solid var(--border-color);
}

.card-body {
  padding: 0px;
  height: 10.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-body h5 {
  font-size: 1.5rem;
  width: fit-content;
  margin-top: 3.5rem;
  margin-bottom: 0px;
  margin-left: 5%;
  color: var(--color-primary);
}

.card-body p {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 5%;
  width: 90%;
  color: grey;
}

@media screen and (max-width: 1145px) {
  .produits-naturels-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .produits-naturels-grid-container {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 20rem;
  }

  .cardpic {
    width: 19.8rem;
  }

  .card-body {
    height: 8rem;
  }

  .card-body h5 {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .card-body p {
    font-size: 0.8rem;
  }
}

/* ////////////////////////////////////////////////////////////// */
/* Media queries globales */
/* @media screen and (max-width: 675px) { */

@media screen and (max-width: 650px) {
  h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }
}
